/* Import Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #534c64;
  --secondary-color: #0b0223;
  --linear-main-color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --linear-other-color: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

/* Reset box model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset typography */
body {
  font-family: "Work Sans", sans-serif;
}

/* Reset links */
a,
.nav-link {
  color: #3c354f;
  text-decoration: none;
}

/* Reset lists */
ul,
ol {
  list-style: none;
}
/* common use class */
.heading-linear-color {
  background: var(--linear-main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  padding: 15px 40px;
  border-radius: 30px;
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary-color {
  background: var(--linear-other-color);
}
.btn-secondary-color {
  background: #4ec5f7;
}
/* main styles */
.container {
  width: 80%;
  margin: auto;
}
/* section {
  padding: 60px 0;
} */

/* header styles  */
header {
  width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 25px 150px;
}
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.brand-logo {
  max-width: 100px;
}
.brand-name {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
}
.follow-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 12px 20px;
}
.hero-banner {
  position: relative;
  min-height: 100vh;
  background: url("../images/Group\ 14.png") no-repeat;
  background-position: top left;
  background-size: contain;
  display: flex;
  padding: 0 150px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.banner-item {
  flex-basis: 50%;
}
.banner-item .banner-img {
  width: 100%;
}

.banner-content {
  z-index: 1;
  padding: 0 14px;
}
.banner-content h2 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title {
  font-size: 5.9rem;
  font-weight: 800;
  text-transform: uppercase;

  margin: 0 0 20px;
}
.banner-content ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 8px;
}
.banner-content ul li span {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-btn {
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
/* we are gamer styles  */
#we-are-gamer {
  position: relative;
  padding: 60px 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );

  gap: 50px;
}
.gamer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
.gamer-item {
  flex-basis: 45%;
}
.gamer-content {
  text-align: right;
}
.gamer-img img {
  max-width: 550px;
  height: 350px;
  object-fit: cover;
}

.gamer-title {
  font-size: 3rem;
  font-weight: 700;
}
.gamer-description {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 20px 0;
}
.gamer-short-summery {
  margin: 20px 0;
}
.gamer-short-summery span {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
}
.gamer-short-summery h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
}
/* games video  */
#games-video {
  width: 100%;
  padding: 60px 0;
}
.section-content {
  text-align: center;
}
.section-content h2 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 700;
}
.section-content p {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 400;
  margin: 10px;
}
.video-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 50px 0;
}
.video-item:hover .watch-video {
  opacity: 1;
  visibility: visible;
}
.img-thumb {
  position: relative;
  /* min-height: 320px; */
  margin: 0 0 15px;
}
.img-thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease;
}
.video-item:hover ::before {
  opacity: 1;
  visibility: visible;
}
.watch-video {
  position: absolute;
  /* background: #000; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease;
  cursor: pointer;
}
.watch-video i,
.watch-video span {
  font-size: 3rem;
  color: #fff;
}
.watch-video span {
  font-size: 1rem;
}
.img-thumb img {
  width: 100%;
  height: 100%;
}
.video-game-title {
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
}
/* Game overview styles */
#game-overview {
  margin: 60px 0;
}
.game-overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 100px; */
  text-align: right;
  margin-bottom: 50px;
}

.overview-title {
  font-size: 3rem;
  font-weight: 700;
}
.over-view-description {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 15px 0;
}
.game-overview-item:first-child {
  flex-basis: 40%;
}
.game-overview-item:last-child {
  flex-basis: 50%;
}
.game-overview-thumb {
  position: relative;
}

.game-overview-thumb {
  padding: 0px 0 64px 94px;
}
.game-overview-thumb .img-large {
  /* position: relative; */
  width: 100%;
}
.img-small {
  max-width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* More Games section Styles */
#more-games {
  position: relative;
  padding: 80px 0;
  background: #fff;
}
.more-games-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.game-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s all ease;
}
.game-info:hover {
  border: 1px solid #ff42a5;
}

.game-info img {
  width: 40px;
}
.game-info span {
  color: var(--secondary-color);
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.4s all ease;
}
.game-info:hover span {
  color: #ff42a5;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  background: #0b0223;
  color: #fff;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}

footer h3 {
  color: #fff !important;
}
.footer-nav,
.socail-icons {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 20px;
}
.footer-nav {
  margin: 20px 0 0;
}
.footer-nav li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.socail-icons {
  margin: 10px 0;
}
.socail-icons a i {
  font-size: 2rem;
  color: #fff;
}
.site-security {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 10px;
}

.site-security a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 500;
}
.copywrite {
  margin: 20px 0;
}
.copywrite p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  font-weight: 500;
}
/* Responsive Design  */
@media (max-width: 1240px) {
  .container {
    width: 90%;
  }
  nav,
  .hero-banner {
    padding: 25px 80px;
  }
  .hero-banner {
    min-height: 100vh;
  }
}

@media (max-width: 992px) {
  .hero-banner {
    background-position: bottom center;
    background-size: 536px 471px;
    padding: 50px 0;
  }
  .banner-item .banner-img {
    padding: 0 30px;
  }
  nav,
  .hero-banner {
    padding: 30px 80px;
    flex-direction: column;
  }
  .brand {
    margin: 0 0 30px;
  }
  .menu {
    flex-direction: column;
  }
  .hero-banner {
    background-position: bottom left;
    background-size: 550px;
  }
  .banner-item {
    flex-basis: 50%;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 0;
  }

  .gamer-container {
    flex-direction: column;
  }
  .gamer-item {
    flex-basis: 100%;
    text-align: center;
  }
  .gamer-img img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
  .gamer-title {
    font-size: 2.5rem;
  }
  .game-overview-container {
    gap: 50px;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px;
  }
  /* .game-overview-item {
    flex-basis: 10%;
  } */
  .footer-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .hero-banner {
    background-position: bottom center;
    background-size: 536px 471px;
    padding: 50px 0;
    padding: 0 30px;
  }
  #games-video {
    padding: 30px 60px;
  }
  .footer-nav,
  .socail-icons {
    grid-template-columns: repeat(3, 1fr);
  }
  .site-security {
    grid-template-columns: repeat(2, 1fr);
  }
  .overview-title {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  #game-overview {
    margin: 0 0;
  }
  .section-content h2 {
    font-size: 2rem;
  }
  #more-games {
    padding: 0 0 60px;
  }
  .more-games-container {
    display: grid;
    justify-content: flex-start;
    gap: 11px 5px;
    grid-template-columns: repeat(3, 1fr);
  }
  .game-info {
    gap: 6px;
    padding: 2px 4px;
  }
  .game-info img {
    width: 30px;
  }
  .game-info span {
    font-size: 9px;
  }
  .footer-nav {
    margin: 0 0 0;
  }
}
@media (max-width: 575px) {
  .brand-logo {
    width: 70px;
  }
  .nav-link {
    font-size: 0.8rem;
  }
  .brand-name {
    font-size: 1.6rem;
  }
  .banner-item .banner-img {
    width: 100%;
    padding: 0 20px;
  }

  nav,
  .hero-banner {
    padding: 30px 0;
  }

  .banner-content h2 {
    font-size: 2rem;
  }
  .banner-title {
    font-size: 4rem;
  }
  .banner-btn {
    flex-direction: column;
    align-items: flex-start;
  }
  .banner-item {
    flex-basis: 100%;
  }

  .hero-banner {
    background-position: bottom center;
    background-size: 400px 426px;
    padding: 20px 0;
  }

  .game-overview-thumb {
    padding: 0 0 40px 50px;
  }
  .overview-title {
    font-size: 2rem;
  }
  .more-games-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .more-games-container .single-game-item {
    flex-basis: 100%;
  }
  footer {
    padding: 70px 24px;
  }
  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
  }
  .brand {
    margin: 20px 0;
  }
  #games-video {
    padding: 30px 20px;
  }
}

@media (max-width: 482px) {
  .more-games-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
